name: Build Android APK
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: android-actions/setup-android@v3
      - name: Replace placeholders
        run: |
          APP_NAME=$(jq -r '.app_name' config.json)
          START_URL=$(jq -r '.url' config.json)
          sed -i "s|__APP_NAME__|$APP_NAME|g" app/src/main/res/values/strings.xml
          sed -i "s|__START_URL__|$START_URL|g" app/src/main/res/values/strings.xml
      - name: Build APK
        run: ./gradlew assembleDebug
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: Web2App-APK
          path: app/build/outputs/apk/debug/app-debug.apk
